
<div class="header">
    <div class="cadre">
        <img class="leaf" src="../assets/images/leaf3.png" alt="leaf">
        <div class="bjv"><span class="jv">Breizh Jardin  Vivant</span> </div>
        <!-- <img class="flag" src="../assets/images/britflag.png" alt="image drapeau bretagne">
        <div class="formation">Formation - Conseil</div> -->
        <!-- <div class="formation">A propos - Contact</div> -->
    </div>   
    <!-- <div class="separation"></div> -->
</div>










<!-- <div class="titre1">
    <h1 class="Title1">Breizh Jardin Vivant</h1>
</div> -->
