footer{
    width: 100%;
    margin-bottom: 0;
    padding: 40px 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    background-color:rgb(43, 43, 43) ;
    /* background-image: url('src/assets/images/bg8.jpg') ; */
    background-size: cover;
    color: white;
    /* position: absolute;
    bottom: 0; */
 }   
 