.view{
    background-color: white;
    padding: 0 130px;
    min-height: 800px;
}
.content{
    /* border: 1px solid black; */
    min-height:100%;
    width:100%;
}
.content div{
    width: 100%;
}
img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .view{
        padding:0
    }
}
