
<div class="container bg-light create">
  <h2>Creez un article</h2> <br>
<form #newArticleForm="ngForm" (ngSubmit)="onSubmit(newArticleForm)">
    <div class="form-group mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input required [(ngModel)]="article.titre" type="text" class="form-control" id="titre" name="titre" #titre="ngModel">
      <div class="alert alert-danger" *ngIf="titre.touched && !titre.valid">
        <div *ngIf="titre.errors?.['required']">Titre requis</div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="selection" class="form-label">Sélectionner une section</label>
      <select required [(ngModel)]="selectedSection" (change)="selectSection()"  name="selection" id="selection" class="form-select"> 
        <option *ngIf="article.section==''"  value="choice">choisir une section</option>
        <ng-container *ngFor="let section of sections">
          <option value="{{section.name}}">{{section.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="section" class="form-label">ou créer une nouvelle section:</label>
      <input required [(ngModel)]="article.section" type="text" class="form-control" id="section" name="section" #section="ngModel">
      <div class="alert alert-danger" *ngIf="section.touched && !section.valid">
        <div *ngIf="section.errors?.['required']">Section requise</div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="selection2" class="form-label">Sélectionner une sous-section</label>
      <select required [(ngModel)]="selectedSubsection" (change)="selectSubsection()" name="selection2" id="selection2" class="form-select"> 
        <option *ngIf="article.subsection==''" value="choice">choisir une sous-section</option>
        <ng-container *ngFor="let subsection of subsections">
          <option value="{{subsection.name}}">{{subsection.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="subsection" class="form-label">ou créer une nouvelle sous-section:</label>
      <input required [(ngModel)]="article.subsection" type="text" class="form-control" id="subsection" name="subsection" #subsection="ngModel">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>