<p>create-article works!</p>
<div class="container bg-light">
<form #newArticleForm="ngForm" (ngSubmit)="onSubmit(newArticleForm)">
    <div class="form-group mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input required [(ngModel)]="article.titre" type="text" class="form-control" id="titre" name="titre" #titre="ngModel">
      <div class="alert alert-danger" *ngIf="titre.touched && !titre.valid">
        <div *ngIf="titre.errors?.['required']">Titre requis</div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="theme" class="form-label">Theme</label>
      <select required [(ngModel)]="article.theme"  name="theme" id="theme" class="form-select" #theme="ngModel"> 
        
        <!-- <option value="choix" disabled>choisir un thème</option> -->
        <option value="ornement">Végétaux d'ornement</option>
        <option value="ecojardin">Écojardin</option>
        <option value="botanique">Botanique</option>
        <option value="permaculture">Permaculture</option>
        <option value="biodiversite">Biodiversité domestique et sauvage</option>
    </select>
    <div class="alert alert-danger" *ngIf="theme.touched && !theme.valid">
      <div *ngIf="theme.errors?.['required']">Thème requis</div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>