.sent{
    text-align: center;
    background-color: darkseagreen;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 450px;
}
@media only screen and (max-width: 991px) {
    .sent{
        margin-bottom: 650px;
    }

}