
mat-expansion-panel{
    /* background-color: ; */
    box-shadow: none;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
}
ul{
    list-style:none ;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}
li{
    min-height: 30px;
    height: min-content;
}
li>div{
    padding: 6px;
    min-height: 30px;
    height: min-content;
    border-radius: 5px;
}
li>div:hover{
/* background-color: rgba(109, 179, 109, 0.65); */
cursor: pointer;
text-decoration: underline;
}

a{
    /* text-decoration: none; */
    /* list-style-type: none; */
    color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}
mat-expansion-panel-header{
    background-color: rgba(31, 78, 31,0.65) !important;
    min-height: 50px;
    height: min-content;
    font-weight: bold;
    
}
mat-expansion-panel-header:hover{
    background-color:rgba(31, 78, 31,0.85) !important
   
}
  /* .meph:hover{
    background-color: grey !important
}   */
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover
{
    min-height: 50px;
    height: min-content
} 

/* ::ng-deep .parametersPanel .mat-expansion-panel-body {
    padding: 0;
} */

