<div class="container containerForm">
    <div class="formBox">
        <div class="row">
            <div class="titreForm col-md-12">
                <h3>Formulaire de Contact</h3>
            </div>
            <!-- <div class="col-lg-2">
                <fa-icon class="pencil" [icon]="faPencil"></fa-icon>
            </div>  -->
        </div>
        <hr>
        <form>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputNom">Nom</label>
                    <input type="text" class="form-control" id="inputNom" placeholder="Nom">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPrenom">Prénom</label>
                    <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSociete">Société</label>
                    <input type="email" class="form-control" id="inputSociete" placeholder="Société">
                </div>
            </div>
            <div class="row">
                <label for="exampleFormControlTextarea1">Message</label>
                <div class="col-md-12">    
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre Message"></textarea>
                </div>
            </div>
            <div class="buttonForm">
                <button type="submit" class="btn btn-primary">Envoyez</button>
            </div>
        </form>
    </div>
</div>