.background{
    width: 100%;
   background-color: rgb(233, 232, 232);
   
   padding-top: 50px;
   padding-bottom: 100px;
}

.container{
    /* height: calc(100vh - 48px); */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    
}
.txt{
    margin: 0 auto;
    /* margin-top: 30px; */
    text-align: center;
    font-size: 1.2rem;
    width: 700px;
}
h2{
    margin-bottom: 30px;
}

.containerForm{
    margin: 0 auto ;
    width: var(--size1);
    padding-top: 50px;
    /* padding-bottom: 50px; */
}
.formBox{
    /* box-shadow: -1px 1px 60px 10px black;
    background-cbackground-color:var(--bgcolor1);olor: rgba(0, 0, 0, 0.404); */
    /* background-color:var(--bgcolor1); */
    border: solid 5px var(--bgcolor2);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding: 20px;
    
  
}
.titreForm{
   
    font-family: sans-serif;
    border-radius: 10px;
}
.titreForm>h2{
    margin-bottom: 0;
}
.pencil{
    font-size: 25px;
}

.form-control{
    font-size: 1.1rem;
    background:transparent;
    
    
    /* border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px; */
}
.form-group{
    margin-bottom: 1rem;
}

input{
    height: 45px;
    border: solid 2px var(--bgcolor2);
}
textarea{
    height: 90px;
    border: solid 2px var(--bgcolor2);
}
.buttonForm{
    /* text-align: center; */
    margin: 1rem 0;
}
.button-not-submitted{
    /* text-align: center; */
    height: 45px;
    font-size: 1.1rem;
}
.button-submitted{
   display: none;
}

.not-submitted{
display: none;
}
.submitted{
display: block;
height: 45px;
font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
    .containerForm{
        width: 95%;
    }
}

@media only screen and (max-width: 991px) {
    .container{
        margin-top: 70px;
    }
    .containerForm{
        width: 100%;
    }
  
    .txt{
        width: 100%;
    }
}



