<h3>articles actif</h3><br>
<table class="table">
    <thead>
        <th>theme</th>
        <th>titre</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let article of articles">
            <ng-container  *ngIf="article.actif">
                <tr *ngIf="article.id==1">
                    <td> {{ article.section }}</td>
                    <td> {{ article.titre }}</td>
                    <td> 
                        <button (click)="updateArticle(article.id)" class="btn btn-info">modifier</button>
                    </td>
                    <td></td>
                    <td> 
                        <button (click)="articleView(article.id)" class="btn btn-info">afficher</button>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="article.id!=1">
                    <td> {{ article.section }}</td>
                    <td> {{ article.titre }}</td>
                    <td> 
                        <button (click)="updateArticle(article.id)" class="btn btn-info">modifier</button>
                    </td>
                    <td> 
                        <button (click)="deactivate(article.id)" class="btn btn-danger">désactiver</button>
                    </td>
                    <td> 
                        <button (click)="articleView(article.id)" class="btn btn-info">afficher</button>
                    </td>
                    <td> 
                        <button (click)="deleteArticle(article.id, article.titre)" class="btn btn-danger">supprimer</button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>

    </tbody>
</table>