nav{
    background-color: rgba(31, 78, 31, 0.65);
    font-weight: bold;
 }

 @media only screen and (max-width: 991px) {
    nav{
       margin-bottom: 0;
    }
 }
 @media only screen and (max-width: 323px) {
    .bjv{
       display: none;
    }
 }