<div class="bgwhite">
    
<h2>Gestion des articles</h2>
<a class="nav-link text-uppercase" routerLink="/admin/articles/create">créer un article</a>
<table class="table">
    <thead>
        <th>titre</th>
        <th>theme</th>
        <th>contenu</th>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td> {{ article.titre }}</td>
            <td> {{ article.theme }}</td>
            <td> {{ article.content }}</td>
            <td> 
                <button (click)="updateArticle(article.id)" class="btn btn-info">modifier</button>
            </td>
            <td> 
                <button (click)="deleteArticle(article.id)" class="btn btn-danger">supprimer</button>
            </td>
            <td> 
                <button (click)="articleView(article.id)" class="btn btn-info">afficher</button>
            </td>
        </tr>
    </tbody>
</table>
</div>