.bgwhite{
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 1200px;
    width: 95%;
    padding: 5px;
}
h2{
    text-align: center;
}
.between{
    display: flex;
    justify-content: space-between;
}
a{
    color: inherit; 
    text-decoration: inherit;
}