.bgwhite{
    background-color: aliceblue;
    margin-top: 10px;
 
    
}
h2{
    text-align: center;
}
.between{
    display: flex;
    justify-content: space-between;
}
a{
    color: inherit; 
    text-decoration: inherit;
}