
<div class="about">
    <h2 class="text-center">À propos</h2>
    <hr>
    <p> Breizh Jardin vivant est une entreprise individuelle en activité de puis le 11 novembre 2020. 
    Le responsable - ancien formateur paysagiste - interviens principalement dans des centres de formation : Lycée/CFA de Merdrignac, 
    MFR de Saint Grégoire, CFPPA de Guingamp/Plouisy et occasionnellement auprès de particuliers. 
    Il forme et conseil à l'écojardinage, la connaissance des sols et de la biodiversité en général.</p>
  <!-- <p> En parallèle, il possède un terrain de 6000m2 à Bain de Bretagne en cours d'aménagement en jardin 
d'ornement, vivrier et prairie naturelle dont l'un des objectifs en est l'accueil de petits groupes, 
scolaires, particuliers afin de sensibiliser, échanger concrètement sur le jardin au naturel.
</p> -->
</div>