.container{
   height: calc(100vh - 48px);
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-about{
   width: var(--size1);
   margin: 0 auto;
   padding: 15px;
   border: solid 5px var(--bgcolor2);
   border-radius: 10px;
   font-size: 1.2rem;
   background-color: var(--bgcolor1);
}
h3{
   text-align: center;
}
.about{
   width: var(--size1);
   height: 550px;
   /* background-image: url('src/assets/images/acc4mir.jpg'); */
   background-size: cover;
   display: flex;
   justify-content: right;
   align-items: center;
   padding-right: 60px;
}
p{
   width: 50%;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 26px;
}
/* @media only screen and (max-width: 1644px) {
   .container{
      width: 75%;
   }
} */
@media only screen and (max-width: 1270px) {
   /* .container-about{
      width: 80%;
   } */
}

@media only screen and (max-width: 991px) {
 
   .container-about{
      /* margin: 0 auto; */
      margin-bottom: 1rem;
      /* width: 95%; */
   }
}
