<!-- <div class="container aboutBox"> 
    <h2>À propos</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, officia ipsum. Consectetur animi odio laudantium!</p>

       <p> Aut odit molestias, repellendus error nemo provident illum esse deserunt numquam reprehenderit id dolorum cumque et, quia aperiam adipisci doloribus voluptatum?
         Dignissimos quis assumenda distinctio consequatur ducimus explicabo accusantium nostrum vero est sequi reiciendis eveniet error ab laborum quaerat, 
         fugit voluptatem quo unde excepturi.</p> 
        <p>Esse nostrum corporis eaque reiciendis eveniet sapiente perferendis illo aspernatur repellendus, numquam id,
        totam quis optio perspiciatis error quaerat, voluptate pariatur a? </p>

        <p> Cupiditate aperiam inventore exercitationem ducimus. Nisi deserunt corrupti adipisci suscipit ea tempore sunt, 
        ex ut accusantium consequuntur iste assumenda cum officia natus inventore nam eveniet!
        Ut unde aut ea accusantium quisquam similique eveniet labore voluptatem deserunt dignissimos eius, error qui laboriosam sunt, facere,
        consequatur exercitationem soluta quos! Quia!
    </p>
</div> -->

<div class="about">
    <h2 class="text-center">À propos</h2> <br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, officia ipsum. Consectetur animi odio laudantium!</p>

    <p> Aut odit molestias, repellendus error nemo provident illum esse deserunt numquam reprehenderit id dolorum cumque et, quia aperiam adipisci doloribus voluptatum?
      Dignissimos quis assumenda distinctio consequatur ducimus explicabo accusantium nostrum vero est sequi reiciendis eveniet error ab laborum quaerat, 
      fugit voluptatem quo unde excepturi.</p> 
     <p>Esse nostrum corporis eaque reiciendis eveniet sapiente perferendis illo aspernatur repellendus, numquam id,
     totam quis optio perspiciatis error quaerat, voluptate pariatur a? </p>

</div>