

<div class="container-about">
  Breizh Jardin Vivant est une entreprise individuelle de formation, de conseil et d'accompagnement en écojardinage.
  En tant que formateur paysagiste responsable de Breizh Jardin Vivant, j'interviens auprès d'élèves, apprentis, stagiaires en Lycée, cfa, mfr, cfppa,.. 
  J'encadre aussi des activités et des formations proposées par des collectivités à des agents ou des particuliers.
  En résumé, je forme et conseille dans les domaines de l'écojardinage : botanique, connaissance et amélioration des sols,
   jardin d'agrément, potager, biodiversité en général,...
  Je possède un terrain sur lequel sont aménagés par mes soins, un jardin d'agrément, un potager permacole,
   une basse cour de races traditionnelles, une prairie de graminées et plantes aromatiques bordée de haies bocagères et haies sèches. 
   Cet espace accueille à l'occasion des personnes désireuses de voir et discuter des facettes de l'écojardin.
</div> 

<!-- 
 <main class="mainabout">
  <img class="about-img" src="assets/images/about1.jpg" alt="image home"> 
  
<div class="about">
    <h2 class="text-center">À propos</h2>
    <hr>
    <p> Breizh Jardin Vivant est une entreprise individuelle de formation, de conseil et d'accompagnement en écojardinage.
En tant que formateur paysagiste responsable de Breizh Jardin Vivant, j'interviens auprès d'élèves, apprentis, stagiaires en Lycée, cfa, mfr, cfppa,.. 
J'encadre aussi des activités et des formations proposées par des collectivités à des agents ou des particuliers.
En résumé, je forme et conseille dans les domaines de l'écojardinage : botanique, connaissance et amélioration des sols,
 jardin d'agrément, potager, biodiversité en général,...
Je possède un terrain sur lequel sont aménagés par mes soins, un jardin d'agrément, un potager permacole,
 une basse cour de races traditionnelles, une prairie de graminées et plantes aromatiques bordée de haies bocagères et haies sèches. 
 Cet espace accueille à l'occasion des personnes désireuses de voir et discuter des facettes de l'écojardin.</p>

</div>
  
   
</main> -->

