        
            <div class="titre1">
                <h1 class="Title1">Breizh Jardin Vivant</h1>
                <h2 class="soustitre">Formation - Conseil</h2>
            </div>
        
<!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Accueil</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about.html">A Propos</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="products.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--<div class="d-flex justify-content-center">
        </div>-->
        
        <main class="main1">
            <img class="intro-img" src="assets/images/body5.jpg" alt="image home">
            <div class="texte1">
                dsfdhsf oidshf siudhf ihdsf fihsudhf is fisudhf iusdhf ish fsudhf isud fhsuidhf is fsiudhf isu fdh usi dhfis fius dhfuis dhfsui fisd 
                dsfdhsf oidshf siudhf ihdsf fihsudhf is fisudhf iusdhf ish fsudhf isud fhsuidhf is fsiudhf isu fdh usi dhfis fius dhfuis dhfsui fisd
                dsfdhsf oidshf siudhf ihdsf fihsudhf is fisudhf iusdhf ish fsudhf isud fhsuidhf is fsiudhf isu fdh usi dhfis fius dhfuis dhfsui fisd
                dsfdhsf oidshf siudhf ihdsf fihsudhf is fisudhf iusdhf ish fsudhf isud fhsuidhf is fsiudhf isu fdh usi dhfis fius dhfuis dhfsui fisd
                dsfdhsf oidshf siudhf ihdsf fihsudhf is fisudhf iusdhf ish fsudhf isud fhsuidhf is fsiudhf isu fdh usi dhfis fius dhfuis dhfsui fisd
            </div>
               
        </main>
      <!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
              <a class="navbar-brand" href="#!">Breizh Jardin Vivant</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Accueil</a></li>
                      <li class="nav-item"><a class="nav-link" href="#!">A propos</a></li>
                      <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>

<header class="py-5 bg-image-full" style="background-image: url('assets/images/body3.jpg'); background-size: cover; background-position: right;  height: 400px;">
 
</header>
<footer class="py-5 bg-dark">
  <div class="container"><p class="mb-0 text-center text-white">Copyright &copy; Breizh Jardin Vivant</p></div>
</footer> -->


<!-- template 2 -->

<router-outlet></router-outlet>
