
.background{
    width: 100%;
    height: min-content;
    /* background-color: rgba(0, 0, 0, 0.26); */
    /* background-color: aliceblue; */
 }
 .dark{
    width: 100%;
    height: min-content;
    background: linear-gradient(115deg,rgba(0, 0, 0, 0.205) 50%,transparent);
 }