        
            <div class="titre1">
                <h1 class="Title1">Breizh Jardin Vivant</h1>
                <!--<h2 class="soustitre">Formation - Conseil</h2>-->
            </div>
        
<!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Breizh Jardin Vivant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Accueil</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about.html">A Propos</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="products.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        
        <main class="main1">
            <img class="intro-img" src="assets/images/body5.jpg" alt="image home">
            <div class="texte1">
                <h2 class="text-center">Formation - Conseil</h2> <br> <!--<div>Végétaux d'ornement - écojardin - botanique - permaculture - biodiversité domestique et sauvage</div> -->
                <ul class="h5">
                    <li>Végétaux d'ornement</li>
                    <li>Ecojardin</li>
                    <li>Botanique</li>
                    <li>Permaculture</li>
                    <li>Biodiversité domestique et sauvage</li>
                </ul>
                <div class="button"><a class="btn" href="">Contactez-nous!</a></div>
                
                
            </div>
            <img class="intro-img2" src="assets/images/body7.jpg" alt="image home 2">
               
        </main>

<!-- footer -->
<footer>
  Copyright &copy; Breizh Jardin Vivant
</footer> 


<!-- template 2 -->

<router-outlet></router-outlet>
