<div class="container">
<div class="test15">
    une div 
    <fa-icon [icon]="faBars" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"></fa-icon>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <app-article-navbar></app-article-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            main content
        </div> 
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
<!-- <li>Végétaux d'ornement</li>
<li>Ecojardin</li>
<li>Botanique</li>
<li>Permaculture</li>
<li>Biodiversité domestique et sauvage</li> -->