<div class="container">
    <div class="toolbar1"></div>
    <div class="toolbar2" (click)="sidenav.toggle()">
        <fa-icon class="bars"  [icon]="faBars" *ngIf="sidenav.mode === 'over'"></fa-icon>
     menu
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav">
            <!-- <div class="xmark"><fa-icon [icon]="faXmark" (click)="sidenav.toggle()"></fa-icon></div> -->
            <div class="marg">
            <app-article-navbar></app-article-navbar>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="article-content mat-elevation-z4">
                <div class="bg-light test2">
                    <ng-container *ngIf="article.id!=1">
                        <div><span>Titre:</span> {{article.titre}}</div>
                        <div><span>Theme:</span> {{article.theme}}</div>
                    </ng-container>
                    <br>
                    <div><span>content:</span> <div [innerHtml]="trustedContent"></div></div>
                </div>
            </div> 
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!-- <li>Végétaux d'ornement</li>
<li>Ecojardin</li>
<li>Botanique</li>
<li>Permaculture</li>
<li>Biodiversité domestique et sauvage</li> -->