<div class="container">
    <div class="toolbar1">
        <fa-icon [icon]="faBars" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"></fa-icon>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav">
            <app-article-navbar></app-article-navbar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="article-content mat-elevation-z4">
                <div class="bg-light test2">
                    <ng-container *ngIf="article.id!=1">
                        <div><span>Titre:</span> {{article.titre}}</div>
                        <div><span>Theme:</span> {{article.theme}}</div>
                    </ng-container>
                    <br>
                    <div><span>content:</span> <div [innerHtml]="trustedContent"></div></div>
                </div>
            </div> 
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!-- <li>Végétaux d'ornement</li>
<li>Ecojardin</li>
<li>Botanique</li>
<li>Permaculture</li>
<li>Biodiversité domestique et sauvage</li> -->