
mat-sidenav-container{
height: 500px;

}
mat-sidenav{
    padding: 1rem;
    width: 250px;
    background-color: dodgerblue;
    }
mat-sidenav-content{
    height: 500px;
    padding: 1rem;
    display: flex;
}

.test15{
    background-color: aqua;
}