
mat-sidenav-container{
    margin: 0 auto;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;

}
.toolbar1{
    height: 2rem;
    margin: 10px 0;
    margin-bottom: 0;
    padding: 0 1rem;
    padding-top: 4px;
    background-color:darkseagreen;
    display: none;
    border-radius: 10px;
}
.toolbar2{
    height: 2rem;
    margin: 10px 0;
    margin-bottom: 0;
    padding: 0 1rem;
    padding-top: 4px;
    background-color: darkseagreen;;
    border-radius: 10px;
    display: none;
    
}
.bars{
    margin-right: 3px;
}
.bars:hover{
cursor: pointer;
}

mat-sidenav{
    /* padding: 1rem; */
    padding-top: 0;
    width: 250px;
    background-color:darkseagreen; 
    /* border-right: none; */
    /* text-align: center; */
    border-radius: 10px;
    }

.xmark{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.5rem;
    display: none;
}
.marg{
    margin-top: 20px;
}
.article-content{
/* background-color: white;
height: 65vh;
margin-left: 10px;
padding: 10px;
border-radius: 10px; */

}
mat-sidenav-content{
    background-color: white;
    height: 65vh;
    margin-left: 260px !important; /* witdh nav + 10px */
    margin-left: 25px ;
    padding: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 991px) {
    mat-sidenav-content{
        margin-left: 0 !important;
        min-height:78vh;
    }
    .article-content{
        margin-left: 0;
        

    }
    mat-sidenav-container{
        
        margin-bottom: 10px;
        
    }

    .toolbar1{
        display: none;
    }
    .toolbar2{
        display:inline-block;
    }
    .toolbar2:hover{
        cursor: pointer;
    }
    .xmark{
        display: block;
    }
}


/* .container1{
width: 80%;
margin: 0 auto;
} */

