


<div class="container intro2">
    
    <img class="homepic" src="../assets/images/image2.png" alt="logo">

</div>

<!-- <div class="container intro">
<p class="description">Formation, Conseil et accompagnement en écojardinage</p>
<div class="decal"></div>
</div> -->
<app-about></app-about>
<app-contact></app-contact>

<!-- <div class="content-cadre">   
    <main class="main1"> 
       <p class="description">Formation, Conseil et accompagnement en écojardinage</p>

    </main>
    <div class="separation"></div>
    <app-about id="about"></app-about>
    <div class="separation"></div>
    <app-contact id="contact"></app-contact>
</div> -->
