.intro2{
  text-align: center;
  height: calc(100vh - 48px);
  padding-top: 70px;
}
.homepic{
  width: 700px;
  height: auto;
}


.intro{
  height: calc(100vh - 48px);
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
}

.description{
  text-align: center;
  width: 750px;
  color: white;
  font-weight:500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);

  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 30px;

  position: absolute;
  top:300px;
  
}
.decal{
  height: 96px;
  /* background-color: aliceblue; */
  width: 2px;
}


.content-cadre{
   width: 1100px; 
   background-color: var(--bgcolormain);
   /* background-color: rgba(30, 128, 46, 0.438); */
   margin: 0 auto;
   margin-bottom: 30px;
   /* border-radius: 10px; */
   padding: 10px;
   padding-top: 0;
  /* background-image: url('src/assets/images/bg4.jpg');
       background-size: cover; */
}
.main1{
  /* padding-left: 30px; */
  width: var(--size1);
  max-width: 1320px;
  height:550px;
  margin: 0 auto;
  /* position: relative; */
  background-image: url('src/assets/images/acc3.jpg');
  background-size: cover;
  /* background-position: bottom; */
  display: flex;
  align-items:flex-end;
  justify-content:center;
  padding-bottom: 90px ;
}

    /* .description{
      text-align: center;
      width: 60%;
      color: white;
      font-weight:500;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 44px;
      text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
     */
    .intro-img{
      height: 100%;
      /* width: 100%; */
      float: right;
      border-radius: 10px;
    }
    .intro-img2{
       display: none;
       border-radius: 10px;
    }

    .title{
      position: absolute;
    }

.separation{
   width: 100;
   height: 1px;
   background-color: rgb(99, 99, 99);
   margin-top: 10px;
   margin-bottom: 10px;
}   

 
 @media only screen and (max-width: 991px) {
 .description{
  font-size: 28px;
  width: 550px;
  padding: 15px;
 }
 }

 @media only screen and (max-width: 770px) {
  .description{
   font-size: 24px;
   width: 450px;
   padding: 15px;
  }
  }

  @media only screen and (max-width: 500px) {
    .description{
     font-size: 24px;
     width: 95%;
     padding: 15px;
    }
    }


 .alerte1{
   background-color:lightpink;
   color: red;
   text-align: center;
 }