

<div class="container">
    <!-- <h2>Breizh Jardin Vivant</h2> -->
<p class="description">Formation, Conseil et accompagnement en écojardinage</p>
<div class="decal"></div>
</div>



<!-- <div class="content-cadre">   
    <main class="main1"> 
       <p class="description">Formation, Conseil et accompagnement en écojardinage</p>

    </main>
    <div class="separation"></div>
    <app-about id="about"></app-about>
    <div class="separation"></div>
    <app-contact id="contact"></app-contact>
</div> -->
