<!-- <div class="alerte1">le site web vient d'être créé certaines sections ne sont pas encore complètes</div>  -->
<main class="main1">
    <img class="intro-img" src="assets/images/body5.jpg" alt="image home"> 
     <app-intro></app-intro>
    <!-- <router-outlet></router-outlet> -->
     <!-- <app-about></app-about> -->
    <!-- <img class="intro-img2" src="assets/images/body7.jpg" alt="image home 2">  -->
</main>
<div class="separation"></div>
<app-about id="about"></app-about>
<div class="separation"></div>
<app-contact id="contact"></app-contact>
