/* You can add global styles to this file, and also import other style files */
 /* @import "~bootstrap/dist/css/bootstrap.css"; */

/* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> */

/* "node_modules/bootstrap/dist/css/bootstrap.min.css" */
/* "node_modules/bootstrap/dist/js/bootstrap.min.js" */

/* dropdown with over */
 /* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }  */
:root{
   /* --bgcolor2:darkred;
   --bgcolor2light:rgb(177, 0, 0);
   --bgcolor2bis:rgb(116, 0, 0);
   --bgcolor1:palegoldenrod; */
   /* --bgcolor2:darkred; */
   --bgcolormain:rgb(255, 255, 255);
   --bgcolor2:rgb(0, 0, 0);

   --bgcolor2light:rgb(177, 0, 0);
   /* --bgcolor2bis:rgb(116, 0, 0); */
   --bgcolor2bis:rgba(0, 0, 0, 0.5);
   /* --bgcolor1:palegoldenrod; */
   --bgcolor1: cornsilk;
   /* --bgcolor1:#4c4c4c; */
   /* --bgcolor1: rgb(255, 255, 255); */
   --bgcolor1t:rgba(238, 232, 170, 0.801);
   --bgcolor3:black ;
   --size1: 991px;

   color:#ffffff;
   color:saddlebrown;
}

body{
   background-image: url('src/assets/images/acc3.jpg');  
   /* background-color: black; */
   /* background-size: 2000px; */
    background-size: cover;
    background-attachment: fixed;  
 background-position:center
    

}

/* ///////////////////// header ////////////////////////////// */



 /* .header1{
    width: 100%;
 }

 .titre1{
    border: 2px solid black;
    border-radius: 10px;
    height: 200px;
    width: 85%;
    margin: 10px auto;
    background-size: cover;
    max-width: 1320px;
 } */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-body { /* marche ici mais pas dans le component ?*/
   padding: 0 !important;
}


/* /////////////// ckEditor Styles /////////////////// */
figure{
   margin: 0 auto;
}
figcaption{
   font-size: 12px;
   text-align: center;
}
figure .image {
/* margin: 0 auto; */

 }
 figure table{
   width: 100% ;
   border: 1px solid #b3b3b3;
 }
/* choix bordure intérieur table*/
.table > *> * > *{ 
   /* border-bottom-width: 0 !important; */
}
.table > *> * > * >*{

   border-right-width: 1px ;
} 

 .image > img { /* doesnt work in component? */
   width: 100%;
 }
 p{
   margin-bottom: 0;
 }

 /* ////////// fin ckEditor Styles //////////// */