ul{
    list-style:none ;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 13px;
}
 li>.article-name:hover{
  cursor: pointer;
  text-decoration: underline;
  }
  
a{
  color: inherit; 
  text-decoration: inherit;
}

 .title{
  cursor: pointer;
}

fa-icon{
  font-size: 0.8rem;
}